@keyframes animateIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.motion-in {
    animation: animateIn 0.3s ease-in-out forwards;
}

.motion-out {
    animation: animateOut 0.3s ease-in-out forwards;
}
